use kube::CustomResourceExt;

fn main() {
    let crds = vec![
        {% for (resource, crd) in resources.iter() %}
        k8s_operator::types::{{ resource }}::{{ crd }}::crd(),
        {% endfor %}
    ];

    for crd in crds {
        match serde_yaml::to_string(&crd) {
            Ok(yaml) => print!("---\n{}", yaml),
            Err(e) => eprintln!("Error serializing CRD to YAML: {}", e),
        }
    }
}