{%- for resource in resources %}
---
apiVersion: {{ resource.api_group }}/{{ resource.api_version }}
kind: {{ resource.kind }}
metadata:
  name: {{ resource.metadata.name }}
spec:
{{ resource.spec }}
{%- endfor -%}