*.jinja linguist-vendored=true
*.sh linguist-vendored=true
.devcontainer/** linguist-vendored=true
Dockerfile linguist-vendored=true
docs/** linguist-vendored=true
hooks/** linguist-vendored=true
scripts/** linguist-vendored=true
