{% if operator_name.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_NAME={{ operator_name }}
{% if operator_author.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_AUTHOR={{ operator_author }}
{% if operator_api_group.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_API_GROUP={{ operator_api_group }}
{% if operator_api_version.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_API_VERSION={{ operator_api_version }}
{% if operator_resource_ref.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_RESOURCE_REF={{ operator_resource_ref }}
{% if operator_example_metadata_spec_field_ref.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_EXAMPLE_METADATA_SPEC_FIELD_REF={{ operator_example_metadata_spec_field_ref }}
{% if operator_include_tags.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_INCLUDE_TAGS={{ operator_include_tags }}
{% if operator_secret_name.is_empty() %}# {% endif %}KUBERNETES_OPERATOR_SECRET_NAME={{ operator_secret_name }}

OPENAPI_DOWNLOAD_URL=https://raw.githubusercontent.com/edenreich/kopgen/refs/heads/main/openapi.yaml
INSTALL_CRDS=true
RUST_LOG=info
RUST_BACKTRACE=1
CONTAINER_REGISTRY=localhost:5005
CLUSTER_NAME=k3d-k3s-default

RELEASE=false
# TARGET_ARCH=x86_64-unknown-linux-musl
# TARGET_ARCH=aarch64-unknown-linux-musl
