KUBERNETES_OPERATOR_GROUP=example.com
KUBERNETES_OPERATOR_VERSION=v1
KUBERNETES_OPERATOR_RESOURCE_REF=uuid
KUBERNETES_OPERATOR_EXAMPLE_METADATA_SPEC_FIELD_REF=name
KUBERNETES_OPERATOR_INCLUDE_TAGS=cats

OPENAPI_DOWNLOAD_URL=https://raw.githubusercontent.com/edenreich/kopgen/refs/heads/main/openapi.yaml
INSTALL_CRDS=true
RUST_LOG=info
RUST_BACKTRACE=1
CONTAINER_REGISTRY=localhost:5005
CLUSTER_NAME=k3d-k3s-default
TARGET_ARCH=x86_64-unknown-linux-musl
RELEASE=false
